n8n-workflows/Agent10_sales_routing.json
{
  "name": "Agent 10 \u2013 Sales Routing Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent10-sales-routing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-input",
              "name": "prompt_input",
              "value": "={{ \"Qualified Leads (from Agent 9): \" + JSON.stringify($json.body.qualified_leads) + \"\\n\\nOffer Context: \" + JSON.stringify($json.body.offer_context) + \"\\n\\nBehavioural Signals: \" + JSON.stringify($json.body.behavioural_signals || {}) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 10 \u2013 Sales Routing Engine in the LeadOS pipeline. You are a DETERMINISTIC decision engine. You do NOT generate ideas or create content. You ONLY evaluate signals and make precise routing decisions.\\n\\nCORE FUNCTION:\\nFor each qualified lead received from Agent 9, compute:\\n\\n1. behaviour_score (derive from signals IF provided, else estimate from lead attributes):\\n   - pricing_page_visit = +20\\n   - multiple_visits = +10\\n   - email_opens > 2 = +10\\n   - booking_attempt = +20\\n   - If no explicit signals: use intent_level (hot=50, warm=30, cold=10) as base\\n\\n2. transcript_intent_score (derive from BANT responses and final_status):\\n   - HOT lead with positive BANT = 85\\n   - WARM lead = 60\\n   - MEDIUM lead = 40\\n   - COLD lead = 20\\n   - strong buying language in responses = +10\\n   - uncertain/vague = -10\\n\\n3. intent_score = (qualification_score \u00d7 0.5) + (behaviour_score \u00d7 0.3) + (transcript_intent \u00d7 0.2)\\n   where qualification_score = bant_score.total from Agent 9\\n\\nROUTING RULES (STRICT - apply in order):\\n\\nCHECKOUT conditions (ALL must be true):\\n- bant_score.total >= 80\\n- bant_score.budget >= 20 (budget confirmed)\\n- timeline classification = positive\\n- intent_score >= 75\\n\\nSALES_CALL conditions (ANY):\\n- bant_score.total 60-79\\n- OR intent_score >= 60 but bant_score.total < 80\\n- OR authority classification = negative (downgrade from HOT)\\n\\nNURTURE conditions (ANY):\\n- bant_score.total 40-59\\n- OR weak intent_score 30-59\\n\\nDISQUALIFIED conditions (ANY):\\n- bant_score.total < 40\\n- OR budget classification = negative AND need classification = negative\\n- OR final_status = COLD\\n\\nEDGE CASE OVERRIDES:\\n- Budget classification=negative \u2192 CANNOT be CHECKOUT, downgrade to SALES_CALL\\n- Authority classification=negative \u2192 downgrade ONE level\\n- Behaviour strong (behaviour_score >= 40) but bant score low \u2192 flag 'high_intent_low_score', route SALES_CALL\\n- If routing contradicts final_status \u2192 trust BANT score, add flag 'contradictory_signals'\\n\\nCRM STAGE MAPPING:\\n- CHECKOUT \u2192 'High Intent Buyer'\\n- SALES_CALL \u2192 'Sales Qualified Lead'  \\n- NURTURE \u2192 'Marketing Qualified Lead'\\n- DISQUALIFIED \u2192 'Disqualified'\\n\\nFLAGS (include ALL applicable):\\n- 'missing_budget' if budget classification != positive\\n- 'low_authority' if authority classification != positive\\n- 'high_intent_low_score' if behaviour_score >= 40 and bant_score.total < 60\\n- 'contradictory_signals' if final_status contradicts routing\\n- 'needs_manual_review' if any override was applied\\n\\nSELF-CHECK before output:\\n- Is the decision explainable by the rules above? If NO \u2192 recompute.\\n- Same input \u2192 same output always. No randomness.\\n\\nOUTPUT FORMAT (STRICT JSON):\\n{\\n  \\\"routed_leads\\\": [\\n    {\\n      \\\"lead_id\\\": \\\"\\\",\\n      \\\"name\\\": \\\"\\\",\\n      \\\"company\\\": \\\"\\\",\\n      \\\"qualification_score\\\": 0,\\n      \\\"behaviour_score\\\": 0,\\n      \\\"transcript_intent\\\": 0,\\n      \\\"intent_score\\\": 0,\\n      \\\"final_decision\\\": \\\"CHECKOUT | SALES_CALL | NURTURE | DISQUALIFIED\\\",\\n      \\\"crm_stage\\\": \\\"\\\",\\n      \\\"reasoning\\\": {\\n        \\\"budget\\\": \\\"\\\",\\n        \\\"authority\\\": \\\"\\\",\\n        \\\"need\\\": \\\"\\\",\\n        \\\"timeline\\\": \\\"\\\",\\n        \\\"behaviour_signals\\\": \\\"\\\",\\n        \\\"transcript_summary\\\": \\\"\\\"\\n      },\\n      \\\"flags\\\": []\\n    }\\n  ],\\n  \\\"pipeline_summary\\\": {\\n    \\\"total\\\": 0,\\n    \\\"checkout\\\": 0,\\n    \\\"sales_call\\\": 0,\\n    \\\"nurture\\\": 0,\\n    \\\"disqualified\\\": 0,\\n    \\\"total_intent_score_avg\\\": 0,\\n    \\\"flags_triggered\\\": []\\n  }\\n}\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Route all leads from the qualification data below. Process every lead. Apply all rules deterministically.\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-routing-node",
      "name": "Sales Routing Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "routing_data",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from routing engine' };\n  try {\n    return JSON.parse(content);\n  } catch (e) {\n    return { error: 'Invalid JSON from routing engine', raw: content.substring(0, 200) };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const leads = $json.routing_data.routed_leads || []; const stageMap = { 'CHECKOUT': 'opportunity', 'SALES_CALL': 'salesqualifiedlead', 'NURTURE': 'marketingqualifiedlead', 'DISQUALIFIED': 'other' }; const statusMap = { 'CHECKOUT': 'OPEN_DEAL', 'SALES_CALL': 'IN_PROGRESS', 'NURTURE': 'OPEN', 'DISQUALIFIED': 'UNQUALIFIED' }; const inputs = leads.map(l => ({ id: l.email || l.lead_id, idProperty: 'email', properties: { lifecyclestage: stageMap[l.final_decision] || 'lead', hs_lead_status: statusMap[l.final_decision] || 'NEW' } })); return { inputs: inputs }; })() }}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "hubspot-update-contacts",
      "name": "HubSpot Update Stages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HUBSPOT_KEY",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-routing",
              "name": "routing_data",
              "value": "={{ (() => { const data = $('Extract JSON').first().json.routing_data; data.crm_sync_status = ($json.results) ? 'success' : 'failed'; return data; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-crm",
      "name": "Merge CRM Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.routing_data }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Sales Routing Engine (Groq)", "type": "main", "index": 0 }]] },
    "Sales Routing Engine (Groq)": { "main": [[{ "node": "Extract JSON", "type": "main", "index": 0 }]] },
    "Extract JSON": { "main": [[{ "node": "HubSpot Update Stages", "type": "main", "index": 0 }]] },
    "HubSpot Update Stages": { "main": [[{ "node": "Merge CRM Status", "type": "main", "index": 0 }]] },
    "Merge CRM Status": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
