n8n-workflows/Agent7_outbound.json
{
  "name": "Agent 7 – Outbound Outreach Simulation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent7-outbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-construction",
              "name": "prompt_input",
              "value": "={{ \"Selected Offer: \" + JSON.stringify($json.body.selected_offer) + \"\\nFunnel Data: \" + JSON.stringify($json.body.funnel) + \"\\nMessaging Assets: \" + JSON.stringify($json.body.narrative) + \"\\nPaid Traffic Context: \" + JSON.stringify($json.body.paid_traffic) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.4,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 7 – Outbound Outreach Simulation in the LeadOS system.\\n\\nPURPOSE: Simulate outbound prospecting with realistic, numerically consistent engagement metrics.\\n\\nCORE LOGIC (MANDATORY – ALL NUMBERS MUST BE DERIVED):\\n* responses = daily_contacts * (response_rate / 100)\\n* positive_replies = responses * (positive_reply_rate / 100)\\n* meetings_booked_per_day = positive_replies (rounded to nearest integer)\\n\\nCONSTRAINTS:\\n* daily_contacts: 20-80 realistic contacts per day\\n* response_rate: 2%-10% (cold outbound reality)\\n* positive_reply_rate: 20%-50% of responses\\n* channels must match ICP (B2B = LinkedIn + Email, B2C = Email + DM)\\n\\nIMPORTANT: outbound_visitors in Agent 8 = daily_contacts * (response_rate/100). Your numbers directly feed Agent 8 visitor calculations.\\n\\nANTI-GENERIC:\\n* No 'hope you are doing well'\\n* No 'we help companies grow'\\n* Be specific to the ICP and offer\\n\\nOUTPUT FORMAT (STRICT JSON ONLY):\\n{\\n  \\\"outbound_outreach\\\": {\\n    \\\"daily_contacts\\\": 0,\\n    \\\"channels\\\": [],\\n    \\\"response_rate\\\": 0,\\n    \\\"positive_reply_rate\\\": 0,\\n    \\\"meetings_booked_per_day\\\": 0,\\n    \\\"targeting\\\": {\\n      \\\"persona\\\": \\\"\\\",\\n      \\\"company_criteria\\\": {\\n        \\\"industry\\\": [],\\n        \\\"company_size\\\": \\\"\\\",\\n        \\\"geography\\\": [],\\n        \\\"signals\\\": []\\n      }\\n    },\\n    \\\"sequence\\\": [\\n      { \\\"step\\\": 1, \\\"channel\\\": \\\"\\\", \\\"timing\\\": \\\"\\\", \\\"goal\\\": \\\"\\\" }\\n    ],\\n    \\\"message_variants\\\": [\\n      { \\\"channel\\\": \\\"\\\", \\\"message\\\": \\\"\\\" }\\n    ],\\n    \\\"prospect_simulation\\\": [\\n      { \\\"name\\\": \\\"\\\", \\\"role\\\": \\\"\\\", \\\"company\\\": \\\"\\\", \\\"reason_fit\\\": \\\"\\\" }\\n    ]\\n  }\\n}\\n\\nFINAL CHECK:\\n* meetings_booked_per_day = daily_contacts * response_rate/100 * positive_reply_rate/100?\\n* Are channels appropriate for the ICP?\\n* Are 3-5 prospects simulated?\\nIf any check fails, fix internally.\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate an outbound outreach simulation plan for the following pipeline data:\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-outbound-node",
      "name": "Outbound Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "outbound_plan",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from AI' };\n  try {\n    return JSON.parse(content);\n  } catch (e) {\n    return { error: 'Invalid JSON format from AI' };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const o = $json.outbound_plan?.outbound_outreach || $json.outbound_plan || {}; const body = 'LeadOS Outbound Outreach Log\\n\\nDaily Contacts: ' + (o.daily_contacts || 0) + '\\nResponse Rate: ' + (o.response_rate || 0) + '%\\nPositive Reply Rate: ' + (o.positive_reply_rate || 0) + '%\\nMeetings/Day: ' + (o.meetings_booked_per_day || 0) + '\\nChannels: ' + (o.channels || []).join(', ') + '\\n\\nNote: Outreach simulated only. No emails sent by LeadOS.'; return { properties: { hs_note_body: body, hs_timestamp: new Date().toISOString() } }; })() }}",
        "options": {}
      },
      "id": "hubspot-log-outreach",
      "name": "HubSpot Log Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SasebC8AoVJed4oj",
          "name": "Header Auth hubspot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const raw = $json.outbound_plan; const parsed = (typeof raw === 'string' ? JSON.parse(raw) : raw) || {}; const o = parsed.outbound_outreach || parsed; const variants = o.message_variants || []; const prospects = o.prospect_simulation || []; const firstMsg = variants[0]?.message || 'Check out our solution'; const firstProspect = prospects[0] || {}; return { personalizations: [{ to: [{ email: 'manishk230604@gmail.com', name: firstProspect.name || 'Prospect' }], subject: 'Quick question about ' + (firstProspect.company || 'your business') }], from: { email: 'manishk230604@gmail.com', name: 'Manish from LeadOS' }, content: [{ type: 'text/html', value: '<p>' + firstMsg.replace(/\\n/g, '<br>') + '</p><br><p style=\"color:#999;font-size:11px\">Sent via LeadOS Autonomous Pipeline</p>' }], categories: ['leados-outbound', 'agent-7'] }; })() }}",
        "options": {}
      },
      "id": "sendgrid-outbound",
      "name": "SendGrid Outbound Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 150],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SENDGRID_CREDENTIAL_ID",
          "name": "SendGrid API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Extract JSON').first().json.outbound_plan }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Outbound Engine (Groq)", "type": "main", "index": 0 }]] },
    "Outbound Engine (Groq)": { "main": [[{ "node": "Extract JSON", "type": "main", "index": 0 }]] },
    "Extract JSON": { "main": [[{ "node": "SendGrid Outbound Email", "type": "main", "index": 0 }]] },
    "SendGrid Outbound Email": { "main": [[{ "node": "HubSpot Log Outreach", "type": "main", "index": 0 }]] },
    "HubSpot Log Outreach": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
