n8n-workflows/Agent4_funnel.json
{
  "name": "Agent4_funnel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent4-funnel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are an elite, first-principles business engineer. Your job is to translate a VALIDATED business opportunity into a concrete, execution-ready acquisition system. Output ONLY valid JSON.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Build a high-velocity acquisition funnel for the following validated offer.\\n\\nINPUT DATA:\\nOffer: \" + $json.body.selected_offer.offer + \"\\nICP: \" + $json.body.selected_offer.ICP + \"\\nPromise: \" + $json.body.selected_offer.promise + \"\\nPricing: \" + $json.body.selected_offer.pricing + \"\\nGuarantee: \" + $json.body.selected_offer.guarantee + \"\\nValidation Score: \" + $json.body.validation_context.score + \"\\nValidation Reason: \" + $json.body.validation_context.reason + \"\\n\\nSTRICT OUTPUT FORMAT (JSON ONLY):\\n{\\n  \\\"funnel\\\": {\\n    \\\"hook\\\": \\\"Short angle\\\",\\n    \\\"landing_page\\\": { \\\"headline\\\": \\\"\\\", \\\"subheadline\\\": \\\"\\\", \\\"cta\\\": \\\"\\\" },\\n    \\\"lead_magnet\\\": \\\"\\\",\\n    \\\"acquisition_channels\\\": [\\\"\\\"],\\n    \\\"conversion_flow\\\": [\\\"\\\"],\\n    \\\"first_7_day_execution\\\": [\\\"\\\" ]\\n  }\\n}\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-api",
      "name": "Funnel Engineer (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        250,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_KEY",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-content",
              "name": "funnel_data",
              "value": "={{ \n(() => {\n  const content = $json.content?.[0]?.text;\n  if (!content) return { error: 'No response from AI' };\n  \n  try {\n    const cleaned = content.replace(/```json|```/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    return match ? JSON.parse(match[0]) : { error: 'Invalid JSON format' };\n  } catch (e) {\n    return { error: 'Parsing error: ' + e.message };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "parser-node",
      "name": "Parser",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.funnel_data }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Funnel Engineer (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Funnel Engineer (Claude)": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}