n8n-workflows/Agent2_offer.json
{
  "name": "Agent2_offer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent2-offer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d9fb14ed-6289-4dc7-9888-af2d6773f1b6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "webhookId": "a1544bed-fdb9-4a7e-85d2-6a298b2420fb"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  solution: $json.body?.solution || $json.solution,\n  solution_type: $json.body?.solution_type || $json.solution_type,\n  audience: $json.body?.audience || $json.audience,\n  problem: $json.body?.problem || $json.problem,\n  pain_intensity: $json.body?.pain_intensity || $json.pain_intensity,\n  willingness_to_pay: $json.body?.willingness_to_pay || $json.willingness_to_pay,\n  angle: $json.body?.angle || \"original\"\n}];"
      },
      "id": "62b2526b-f282-4f5d-9285-d6ea2a530a65",
      "name": "Format Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        32,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are an elite, first-principles business engineer. You solve each problem as a UNIQUE, independent entity. You NEVER reuse ideas or delivery models from previous tasks unless they are the ONLY logical solution to the CURRENT specific problem.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a business offer that is 100% GROUNDED in the specific PROBLEM below.\\n\\nCRITICAL CONSTRAINTS:\\n- Your offer MUST solve the specific mechanism of the PROBLEM — ignore all other domains or common patterns.\\n- If the problem is unrelated to ads, marketing, or e-commerce, your offer MUST NOT mention them.\\n- Every output must be structurally independent — do NOT follow a default 'AI tool' or 'SaaS' pattern unless specifically required by the problem.\\n\\nNEGATIVE CONSTRAINTS (DO NOT DO):\\n- DO NOT default to: 'AI-powered', 'optimization tool', 'growth system', 'Shopify' or 'SaaS'.\\n- DO NOT provide a marketing solution for a technical or operational problem.\\n- DO NOT use buzzwords or vague mechanisms.\\n\\nSTRICT FORMAT:\\n{\\n  \\\"ICP\\\": \\\"\\\",\\n  \\\"offer\\\": \\\"\\\",\\n  \\\"pricing\\\": \\\"\\\",\\n  \\\"promise\\\": \\\"\\\",\\n  \\\"guarantee\\\": \\\"\\\"\\n}\\n\\nFIELD RULES:\\n1. ICP: Specific industry + Size + job title (Must be the direct buyer of the solution).\\n2. OFFER: Describe the EXACT mechanic of the solution. No vague language.\\n3. PRICING: Provide a realistic dollar amount range based on the pain intensity: low ($100-$500) | medium ($1k-$3k) | high ($5k-$20k). Format: 'label ($range)'.\\n4. PROMISE: Measurable outcome + Timeframe (Must be the direct result of the offer).\\n5. GUARANTEE: Tangible risk reversal.\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\\n\\nINPUT DATA:\\nProblem: \" + $json.problem + \"\\nMechanism Required: \" + $json.solution + \"\\nExecution Type: \" + $json.solution_type + \"\\nTarget Audience: \" + $json.audience + \"\\nPain Intensity: \" + $json.pain_intensity + \"\\nWillingness To Pay: \" + $json.willingness_to_pay + \"\\nAngle: \" + $json.angle\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "7ff8614b-235b-44e7-b228-35f12092532d",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_KEY",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{ output: $json.content[0].text }];"
      },
      "id": "f4864104-9f86-4c33-9804-b926df92adfe",
      "name": "Extract Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "try {\n  const cleaned = $json.output.replace(/```json|```/g, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  return match ? JSON.parse(match[0]) : { error: 'Invalid JSON', raw: cleaned };\n} catch (e) {\n  return { error: 'Parsing failed', raw: $json.output };\n}"
      },
      "id": "5addf5f9-4ba5-4c5b-87f1-ae2bd7f345d0",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        624,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6dd2294b-a547-4dc4-832b-5c61a239bc04",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1344,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const offer = ($json.offer || \"\").toLowerCase();\nconst promise = ($json.promise || \"\").toLowerCase();\nconst pricing = ($json.pricing || \"\").toLowerCase();\nconst solution = ($json.solution || \"\").toLowerCase();\nconst problem = ($json.problem || \"\").toLowerCase();\n\nconst bannedPatterns = [\n  \"ai-powered\",\n  \"optimization tool\",\n  \"growth solution\",\n  \"end-to-end\",\n  \"scalable system\",\n  \"streamline\",\n  \"leverage\",\n  \"cutting-edge\"\n];\n\nlet score = 5;\n\n// 1. Check for buzzword density\nbannedPatterns.forEach(p => {\n  if (offer.includes(p)) score -= 2;\n});\n\n// 2. Check for Problem-Offer Grounding (Basic keyword sanity)\n// If the problem mentions 'ads' but offer doesn't mention 'ads', 'marketing', or 'campaigns' -> Penalize\nconst problemKeywords = problem.split(/\\s+/).filter(w => w.length > 4);\nconst hasOverlap = problemKeywords.some(w => offer.includes(w));\nif (!hasOverlap) score -= 3;\n\n// 3. Reward specificity & numbers\nif (offer.length > 150) score += 1;\nif (offer.length < 60) score -= 2; // Too short is probably generic\n\nif (promise.match(/\\d+/)) score += 1; // Presence of numbers/timeframes\nif (pricing.includes(\"$\")) score += 1;\n\n// 4. Retry handling\nconst retries = $json.retries || 0;\nconst forced_accept = retries >= 3;\n\nreturn [{\n  ...$json,\n  retries,\n  score,\n  is_valid: (score >= 4 && retries < 3) || forced_accept,\n  forced_accept\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "f1df43f1-f217-4559-ac25-c914a28b8d47",
      "name": "validate offer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "894e8645-269e-4123-b6ee-1b8ec918caf4",
              "leftValue": "is_valid",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        0
      ],
      "id": "f69a9b0f-f700-46c3-8415-fb98ddcc98c1",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are a first-principles business engineer. Your previous output was REJECTED for being too generic or irrelevant. You must now generate a fundamentally different, SPECIFIC solution grounded ONLY in the current problem.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"RE-ENGINEER this offer. The previous version was too generic.\\n\\nHARD REQUIREMENTS:\\n- DO NOT reuse any words, structures, or ideas from the 'Previous Output' below.\\n- The offer MUST directly solve the mechanical 'Problem' listed.\\n- If the problem is not about marketing, DO NOT suggest marketing/ads.\\n- NO buzzwords (AI-powered, scalable, growth, etc).\\n\\nFORMAT:\\n{\\n  \\\"ICP\\\": \\\"\\\",\\n  \\\"offer\\\": \\\"\\\",\\n  \\\"pricing\\\": \\\"\\\",\\n  \\\"promise\\\": \\\"\\\",\\n  \\\"guarantee\\\": \\\"\\\"\\n}\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\\n\\nINPUT:\\nProblem: \" + $json.problem + \"\\nSolution Requirement: \" + $json.solution + \"\\nPrevious Output (DO NOT REUSE): \" + $json.offer + \"\\n\\nTarget Audience: \" + $json.audience + \"\\nExecution Type: \" + $json.solution_type\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "1585947e-a355-4456-b8bf-fce9aeb03ac6",
      "name": "retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1328,
        -288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_KEY",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7c90de0-e10e-4e49-8f29-aca5a01ccec3",
              "name": "=retries",
              "value": "={{ ($json.retries || 0) + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -288
      ],
      "id": "4cbd30ed-0665-4fb0-a96f-d5abc81f548b",
      "name": "retry counter set"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Extract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Output": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "validate offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate offer": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "retry counter set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retry": {
      "main": [
        [
          {
            "node": "Extract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retry counter set": {
      "main": [
        [
          {
            "node": "retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bff7683d-53f9-4b02-a174-d6037a4e81e3",
  "meta": {
    "instanceId": "9e2b7222325b52503bfd3b4c9c180fa390e935bcffbf83a17ebb5a8d16bfa038"
  },
  "id": "CMYwSRJZvZMZabao",
  "tags": []
}