n8n-workflows/Agent9_qualification.json
{
  "name": "Agent 9 – AI Qualification Simulator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent9-qualification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-construction",
              "name": "prompt_input",
              "value": "={{ \"Leads: \" + JSON.stringify($json.body.leads) + \"\\nOffer Context: \" + JSON.stringify($json.body.offer_context) + \"\\nFunnel Context: \" + JSON.stringify($json.body.funnel_context) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.5,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 9 – AI Qualification Simulator in the LeadOS pipeline.\\n\\nPURPOSE: Simulate AI-based lead qualification calls using BANT framework. You are NOT making real calls. You are simulating what an AI would discover in a qualification conversation.\\n\\nINPUT NORMALIZATION (do this FIRST for every lead):\\n- intent_level may come as 'intent' field → normalize to intent_level\\n- ICP_match may come as 'ICP' field → normalize to ICP_match\\n- lead_score may come as 'score' field → normalize to lead_score (number)\\n- If pain_level missing: hot→high, warm→medium, cold→low\\n- If budget_level missing: score≥8→high, score 5-7→medium, score<5→low\\n\\nPROCESSING RULES:\\n\\nSTEP 1 – CALL SCRIPT: Write a short natural intro script (2-3 sentences) personalized to the lead's name, company, and how they engaged. Do NOT sound robotic. No 'Dear Sir/Madam'.\\n\\nSTEP 2 – SIMULATE RESPONSES based on lead attributes:\\n- High intent + high pain → enthusiastic, specific answers\\n- Warm intent → positive but cautious answers\\n- Cold intent → vague or uncommitted answers\\n- Low ICP_match → confused, not relevant answers\\n- Responses must differ across leads. No copy-paste answers.\\n\\nSTEP 3 – CLASSIFY each BANT dimension: positive / neutral / negative\\n\\nSTEP 4 – BANT SCORING (must be consistent with responses):\\n- Budget: 0-25 (positive=20-25, neutral=10-15, negative=0-5)\\n- Authority: 0-25 (positive=20-25, neutral=10-15, negative=0-5)\\n- Need: 0-25 (positive=20-25, neutral=10-15, negative=0-5)\\n- Timeline: 0-25 (positive=20-25, neutral=10-15, negative=0-5)\\n- total = sum of all 4\\n\\nSTEP 5 – STATUS:\\n- total ≥ 80 → HOT\\n- 60-79 → WARM\\n- 40-59 → MEDIUM\\n- < 40 → COLD\\n\\nSTEP 6 – ROUTING:\\n- HOT → checkout\\n- WARM → sales_call\\n- MEDIUM → nurture\\n- COLD → disqualify\\n\\nANTI-FAKE RULES:\\n- Do NOT give identical responses to different leads\\n- Lead scores must be consistent with their intent/pain/ICP attributes\\n- High-intent leads should generally score higher but not always\\n- Include at least 1 lead that scores unexpectedly low despite initial metrics\\n\\nIMPORTANT: Process ALL leads from the input. Do not skip any.\\n\\nOUTPUT FORMAT (STRICT JSON ONLY):\\n{\\n  \\\"qualified_leads\\\": [\\n    {\\n      \\\"lead_id\\\": \\\"\\\",\\n      \\\"name\\\": \\\"\\\",\\n      \\\"company\\\": \\\"\\\",\\n      \\\"call_script\\\": \\\"\\\",\\n      \\\"responses\\\": {\\n        \\\"budget\\\": \\\"\\\",\\n        \\\"authority\\\": \\\"\\\",\\n        \\\"need\\\": \\\"\\\",\\n        \\\"timeline\\\": \\\"\\\"\\n      },\\n      \\\"classification\\\": {\\n        \\\"budget\\\": \\\"\\\",\\n        \\\"authority\\\": \\\"\\\",\\n        \\\"need\\\": \\\"\\\",\\n        \\\"timeline\\\": \\\"\\\"\\n      },\\n      \\\"bant_score\\\": {\\n        \\\"budget\\\": 0,\\n        \\\"authority\\\": 0,\\n        \\\"need\\\": 0,\\n        \\\"timeline\\\": 0,\\n        \\\"total\\\": 0\\n      },\\n      \\\"final_status\\\": \\\"\\\",\\n      \\\"routing\\\": \\\"\\\"\\n    }\\n  ],\\n  \\\"summary\\\": {\\n    \\\"total_leads\\\": 0,\\n    \\\"hot\\\": 0,\\n    \\\"warm\\\": 0,\\n    \\\"medium\\\": 0,\\n    \\\"cold\\\": 0\\n  }\\n}\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Simulate BANT qualification calls for the following leads. Process every lead:\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-qualification-node",
      "name": "Qualification Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "qualification_data",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from AI' };\n  try {\n    return JSON.parse(content);\n  } catch (e) {\n    return { error: 'Invalid JSON format from AI', raw: content.substring(0, 200) };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/REPLACE_WITH_YOUR_WEBHOOK",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $json.qualification_data || {}; const s = d.summary || {}; const hotLeads = (d.qualified_leads || []).filter(l => l.final_status === 'HOT'); const hotText = hotLeads.map(l => '• *' + l.name + '* (' + l.company + ') — BANT: ' + (l.bant_score?.total || 0) + '/100').join('\\n') || 'None'; return { text: '🎯 BANT Qualification Complete', blocks: [ { type: 'header', text: { type: 'plain_text', text: '🤖 LeadOS: Qualification Results' } }, { type: 'section', text: { type: 'mrkdwn', text: '🔥 *HOT:* ' + (s.hot || 0) + ' | 🟠 *WARM:* ' + (s.warm || 0) + ' | 🟡 *MEDIUM:* ' + (s.medium || 0) + ' | 🔵 *COLD:* ' + (s.cold || 0) } }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: '*🔥 HOT Leads (Ready for Sales):*\\n' + hotText } }, { type: 'context', elements: [{ type: 'mrkdwn', text: '⚡ LeadOS Agent 9 — AI Qualification Simulator' }] } ] }; })() }}",
        "options": {}
      },
      "id": "slack-qual-summary",
      "name": "Slack Qualification Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 150],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const d = $('Extract JSON').first().json.qualification_data || {}; const hotLeads = (d.qualified_leads || []).filter(l => l.final_status === 'HOT'); if (hotLeads.length === 0) return { personalizations: [{ to: [{ email: 'demo@leados-test.com' }], subject: 'No HOT leads this run' }], from: { email: 'qualify@leados-demo.com', name: 'LeadOS' }, content: [{ type: 'text/plain', value: 'No HOT leads qualified.' }] }; const lead = hotLeads[0]; const bant = lead.bant_score || {}; return { personalizations: [{ to: [{ email: lead.email || 'demo@leados-test.com', name: lead.name || 'Prospect' }], subject: lead.name + ', your qualification score is impressive' }], from: { email: 'qualify@leados-demo.com', name: 'LeadOS Sales' }, content: [{ type: 'text/html', value: '<h2>Hi ' + (lead.name || 'there') + ',</h2><p>Your BANT qualification score was <strong>' + (bant.total || 0) + '/100</strong>.</p><ul><li>Budget: ' + (bant.budget || 0) + '/25</li><li>Authority: ' + (bant.authority || 0) + '/25</li><li>Need: ' + (bant.need || 0) + '/25</li><li>Timeline: ' + (bant.timeline || 0) + '/25</li></ul><p><a href=\"https://calendly.com/leados2-hackathon-neobim/30min\" style=\"background:#0A66C2;color:white;padding:12px 24px;border-radius:8px;text-decoration:none;font-weight:bold\">Book Your Demo Call</a></p><br><p style=\"color:#999;font-size:11px\">Sent via LeadOS Autonomous Pipeline</p>' }], categories: ['leados-qualification', 'hot-lead'] }; })() }}",
        "options": {}
      },
      "id": "sendgrid-hot-followup",
      "name": "SendGrid HOT Follow-Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, -150],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SENDGRID_CREDENTIAL_ID",
          "name": "SendGrid API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const leads = $json.qualification_data?.qualified_leads || []; const statusMap = { 'HOT': 'OPEN_DEAL', 'WARM': 'IN_PROGRESS', 'MEDIUM': 'OPEN', 'COLD': 'UNQUALIFIED' }; const inputs = leads.map(l => ({ id: l.email || l.lead_id, idProperty: 'email', properties: { hs_lead_status: statusMap[l.final_status] || 'OPEN' } })); return { inputs: inputs }; })() }}",
        "options": {}
      },
      "id": "hubspot-bant-update",
      "name": "HubSpot Update BANT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SasebC8AoVJed4oj",
          "name": "Header Auth hubspot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Extract JSON').first().json.qualification_data }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Qualification Engine (Groq)", "type": "main", "index": 0 }]] },
    "Qualification Engine (Groq)": { "main": [[{ "node": "Extract JSON", "type": "main", "index": 0 }]] },
    "Extract JSON": { "main": [[{ "node": "Slack Qualification Summary", "type": "main", "index": 0 }]] },
    "Slack Qualification Summary": { "main": [[{ "node": "SendGrid HOT Follow-Up", "type": "main", "index": 0 }]] },
    "SendGrid HOT Follow-Up": { "main": [[{ "node": "HubSpot Update BANT", "type": "main", "index": 0 }]] },
    "HubSpot Update BANT": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
