n8n-workflows/Agent5_narrative.json
{
  "name": "Agent 5 – Narrative Builder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent5-narrative",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-construction",
              "name": "prompt_input",
              "value": "={{ \"ICP: \" + $json.body.ICP + \"\\nOffer: \" + $json.body.offer + \"\\nProblem: \" + $json.body.problem + \"\\nHook: \" + $json.body.hook + \"\\nLanding Page Headline: \" + $json.body.landing_page.headline + \"\\nLanding Page Subheadline: \" + $json.body.landing_page.subheadline + \"\\nLanding Page CTA: \" + $json.body.landing_page.cta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.7,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert direct-response copywriter. Your job is to convert a validated business opportunity into high-converting messaging assets.\\n\\nRULES:\\n- Use the exact problem language\\n- Match tone to ICP\\n- Avoid generic marketing phrases\\n- Do NOT sound like AI\\n- Be specific and concrete\\n\\nOUTPUT FORMAT (STRICT JSON ONLY):\\n{\\n  \\\"core_message\\\": \\\"One clear positioning sentence\\\",\\n  \\\"angles\\\": [\\n    { \\\"type\\\": \\\"pain\\\", \\\"message\\\": \\\"Highlight frustration\\\" },\\n    { \\\"type\\\": \\\"outcome\\\", \\\"message\\\": \\\"Highlight result\\\" },\\n    { \\\"type\\\": \\\"contrarian\\\", \\\"message\\\": \\\"Challenge common belief\\\" }\\n  ],\\n  \\\"assets\\\": {\\n    \\\"linkedin_post\\\": \\\"3-5 lines, engaging\\\",\\n    \\\"cold_dm\\\": \\\"Short, direct, personalized tone\\\",\\n    \\\"email\\\": \\\"Slightly longer, structured\\\"\\n  }\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Convert the following input into structured messaging assets:\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-narrative-node",
      "name": "Narrative Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "narrative_assets",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from AI' };\n  \n  try {\n    return JSON.parse(content);\n  } catch (e) {\n    return { error: 'Invalid JSON format from AI' };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.narrative_assets }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Narrative Engine (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Narrative Engine (Groq)": {
      "main": [
        [
          {
            "node": "Extract JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
