n8n-workflows/Agent4_funnel.json
{
  "name": "Agent4_funnel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent4-funnel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.6,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an elite, first-principles business engineer. Your job is to translate a VALIDATED business opportunity into a concrete, execution-ready acquisition system. Output ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Build a high-velocity acquisition funnel for the following validated offer.\\n\\nINPUT DATA:\\nOffer: \" + $json.body.selected_offer.offer + \"\\nICP: \" + $json.body.selected_offer.ICP + \"\\nPromise: \" + $json.body.selected_offer.promise + \"\\nPricing: \" + $json.body.selected_offer.pricing + \"\\nGuarantee: \" + $json.body.selected_offer.guarantee + \"\\nValidation Score: \" + $json.body.validation_context.score + \"\\nValidation Reason: \" + $json.body.validation_context.reason + \"\\n\\nSTRICT OUTPUT FORMAT (JSON ONLY):\\n{\\n  \\\"funnel\\\": {\\n    \\\"hook\\\": \\\"Short angle\\\",\\n    \\\"landing_page\\\": { \\\"headline\\\": \\\"\\\", \\\"subheadline\\\": \\\"\\\", \\\"cta\\\": \\\"\\\" },\\n    \\\"lead_magnet\\\": \\\"\\\",\\n    \\\"acquisition_channels\\\": [\\\"\\\"],\\n    \\\"conversion_flow\\\": [\\\"\\\"],\\n    \\\"first_7_day_execution\\\": [\\\"\\\" ]\\n  }\\n}\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-api",
      "name": "Funnel Engineer (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-content",
              "name": "funnel_data",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from AI' };\n  \n  try {\n    const cleaned = content.replace(/```json|```/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    return match ? JSON.parse(match[0]) : { error: 'Invalid JSON format' };\n  } catch (e) {\n    return { error: 'Parsing error: ' + e.message };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "parser-node",
      "name": "Parser",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.calendly.com/users/me",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzc0ODczMjg1LCJqdGkiOiJkZGRkZWFmNy0zZDNmLTQ3MGUtYTJhYi1hM2M3YTMxNjRiNzAiLCJ1c2VyX3V1aWQiOiJjZjYxMzVlNS1jMDM0LTQzNzItYWNjYy03NjdmNjYxMzYzZTciLCJzY29wZSI6ImF2YWlsYWJpbGl0eTpyZWFkIGF2YWlsYWJpbGl0eTp3cml0ZSBldmVudF90eXBlczpyZWFkIGV2ZW50X3R5cGVzOndyaXRlIGxvY2F0aW9uczpyZWFkIHJvdXRpbmdfZm9ybXM6cmVhZCBzaGFyZXM6d3JpdGUgc2NoZWR1bGVkX2V2ZW50czpyZWFkIHNjaGVkdWxlZF9ldmVudHM6d3JpdGUgc2NoZWR1bGluZ19saW5rczp3cml0ZSBncm91cHM6cmVhZCBvcmdhbml6YXRpb25zOnJlYWQgb3JnYW5pemF0aW9uczp3cml0ZSB1c2VyczpyZWFkIGFjdGl2aXR5X2xvZzpyZWFkIGRhdGFfY29tcGxpYW5jZTp3cml0ZSBvdXRnb2luZ19jb21tdW5pY2F0aW9uczpyZWFkIHdlYmhvb2tzOnJlYWQgd2ViaG9va3M6d3JpdGUifQ.F1IVikBxk4EbV4mTuhEcoXfYqlDk6RS3mVcU4-k7usbfiLh6z1g_5P5qLUoO-JNNNmEi-olvg2rtIEMpNTlq3g"
            }
          ]
        },
        "options": {}
      },
      "id": "calendly-user",
      "name": "Get Calendly User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.calendly.com/event_types?user=' + ($json.resource?.uri || '') + '&active=true&count=1' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzc0ODczMjg1LCJqdGkiOiJkZGRkZWFmNy0zZDNmLTQ3MGUtYTJhYi1hM2M3YTMxNjRiNzAiLCJ1c2VyX3V1aWQiOiJjZjYxMzVlNS1jMDM0LTQzNzItYWNjYy03NjdmNjYxMzYzZTciLCJzY29wZSI6ImF2YWlsYWJpbGl0eTpyZWFkIGF2YWlsYWJpbGl0eTp3cml0ZSBldmVudF90eXBlczpyZWFkIGV2ZW50X3R5cGVzOndyaXRlIGxvY2F0aW9uczpyZWFkIHJvdXRpbmdfZm9ybXM6cmVhZCBzaGFyZXM6d3JpdGUgc2NoZWR1bGVkX2V2ZW50czpyZWFkIHNjaGVkdWxlZF9ldmVudHM6d3JpdGUgc2NoZWR1bGluZ19saW5rczp3cml0ZSBncm91cHM6cmVhZCBvcmdhbml6YXRpb25zOnJlYWQgb3JnYW5pemF0aW9uczp3cml0ZSB1c2VyczpyZWFkIGFjdGl2aXR5X2xvZzpyZWFkIGRhdGFfY29tcGxpYW5jZTp3cml0ZSBvdXRnb2luZ19jb21tdW5pY2F0aW9uczpyZWFkIHdlYmhvb2tzOnJlYWQgd2ViaG9va3M6d3JpdGUifQ.F1IVikBxk4EbV4mTuhEcoXfYqlDk6RS3mVcU4-k7usbfiLh6z1g_5P5qLUoO-JNNNmEi-olvg2rtIEMpNTlq3g"
            }
          ]
        },
        "options": {}
      },
      "id": "calendly-events",
      "name": "Fetch Calendly Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-calendly",
              "name": "funnel_data",
              "value": "={{ (() => { const data = $('Parser').first().json.funnel_data; try { const calendly = $json; if (calendly && calendly.collection && calendly.collection.length > 0) { const evt = calendly.collection[0]; data.booking_link = evt.scheduling_url || null; data.booking_link_type = evt.name || 'Discovery Call'; } else { data.booking_link = null; data.booking_link_type = null; } } catch(e) { data.booking_link = null; data.booking_link_type = null; } return data; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-calendly-node",
      "name": "Merge Calendly Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const f = $json.funnel_data.funnel || $json.funnel_data; const body = 'LeadOS Funnel Design\\n\\nHook: ' + (f.hook || 'N/A') + '\\nHeadline: ' + (f.landing_page?.headline || 'N/A') + '\\nCTA: ' + (f.landing_page?.cta || 'N/A') + '\\nLead Magnet: ' + (f.lead_magnet || 'N/A') + '\\nChannels: ' + (f.acquisition_channels || []).join(', ') + '\\nBooking: ' + ($json.funnel_data.booking_link || 'Not configured'); return { properties: { hs_note_body: body, hs_timestamp: new Date().toISOString() } }; })() }}",
        "options": {}
      },
      "id": "hubspot-note",
      "name": "HubSpot Save Funnel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SasebC8AoVJed4oj",
          "name": "Header Auth hubspot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Merge Calendly Link').first().json.funnel_data }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Funnel Engineer (Groq)", "type": "main", "index": 0 }]] },
    "Funnel Engineer (Groq)": { "main": [[{ "node": "Parser", "type": "main", "index": 0 }]] },
    "Parser": { "main": [[{ "node": "Get Calendly User", "type": "main", "index": 0 }]] },
    "Get Calendly User": { "main": [[{ "node": "Fetch Calendly Events", "type": "main", "index": 0 }]] },
    "Fetch Calendly Events": { "main": [[{ "node": "Merge Calendly Link", "type": "main", "index": 0 }]] },
    "Merge Calendly Link": { "main": [[{ "node": "HubSpot Save Funnel", "type": "main", "index": 0 }]] },
    "HubSpot Save Funnel": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
