n8n-workflows/Agent11_tracking_attribution.json
{
  "name": "Agent 11 \u2013 Tracking & Attribution Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent11-tracking-attribution",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-input",
              "name": "prompt_input",
              "value": "={{ \"Routed Leads (from Agent 10): \" + JSON.stringify($json.body.routed_leads) + \"\\n\\nCapture Data (from Agent 8): \" + JSON.stringify($json.body.capture_data) + \"\\n\\nTraffic Data (from Agent 6): \" + JSON.stringify($json.body.traffic_data) + \"\\n\\nOffer Context: \" + JSON.stringify($json.body.offer_context) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 11 \u2013 Tracking & Attribution Engine in the LeadOS pipeline. You are a DETERMINISTIC analytics and attribution system. You DO NOT generate ideas or content. You ONLY track, attribute, and validate data integrity.\\n\\nCORE FUNCTION: Produce a full tracking and attribution report from the pipeline data provided.\\n\\nSTEP 1 \u2013 LEAD ATTRIBUTION:\\nFor every lead in routed_leads:\\n- Assign attribution based on lead.source field (paid / outbound / organic)\\n- Map to UTM parameters based on source:\\n  * paid \u2192 utm_source=google|linkedin|meta, utm_medium=cpc, utm_campaign=derived from offer\\n  * outbound \u2192 utm_source=linkedin|email, utm_medium=outbound, utm_campaign=sequence\\n  * organic \u2192 utm_source=organic, utm_medium=content\\n- Determine first_touch and last_touch (often same for single-channel leads)\\n- Build touchpoint journey: Ad/Content \u2192 Landing Page \u2192 Lead Capture \u2192 Qualification Call \u2192 Routing Decision\\n- Set attribution_confidence:\\n  * HIGH: source is paid with clear UTM\\n  * MEDIUM: outbound with known channel\\n  * LOW: organic or unknown\\n- Flag 'missing_utm' if source is unknown or organic without clear trail\\n\\nSTEP 2 \u2013 CHANNEL PERFORMANCE METRICS:\\nFrom traffic_data (Agent 6), compute per-channel:\\n- spend = channel.daily_budget (use as given)\\n- clicks = channel.expected_clicks\\n- leads = channel.expected_leads\\n- cpl = spend / leads (recalculate, validate against blended_cpl)\\n- conversion_rate = (leads / clicks) * 100\\n- bookings = round(leads * 0.3) [estimate 30% booking rate]\\n- sales = round(bookings * 0.4) [estimate 40% close rate]\\n- cost_per_booking = spend / max(bookings, 1)\\n- cost_per_sale = spend / max(sales, 1)\\n\\nSTEP 3 \u2013 FUNNEL CONVERSION WATERFALL:\\nCompute from aggregated data:\\n- total_visitors: from capture_data.traffic.total_visitors\\n- total_leads: from capture_data.leads_summary.total\\n- total_bookings: sum of bookings across channels\\n- total_sales: from routing pipeline_summary.checkout (HOT leads = sales)\\n- visitor_to_lead_rate: (total_leads / total_visitors) * 100\\n- lead_to_booking_rate: (total_bookings / total_leads) * 100\\n- booking_to_sale_rate: (total_sales / max(total_bookings, 1)) * 100\\n- overall_conversion: (total_sales / total_visitors) * 100\\n\\nSTEP 4 \u2013 TRACKING VALIDATION:\\nCheck for:\\n- missing_utm: any lead has source='organic' or source unclear\\n- pixel_not_firing: if conversion events are not traceable (flag if any lead has missing lead_id)\\n- duplicate_events: if same lead appears multiple times (check by name+company)\\n- crm_mismatch: if lead crm_stage doesn't align with routing decision\\n- attribution_conflict: if first_touch source contradicts last_touch\\n\\nSet tracking_status:\\n- 'TRACKING_HEALTHY' if no critical flags\\n- 'TRACKING_DEGRADED' if 1-2 minor flags\\n- 'TRACKING_BROKEN' if missing_utm on >50% of leads or pixel_not_firing\\n\\nSTEP 5 \u2013 DASHBOARD SUMMARY:\\nAggregate:\\n- leads_by_source: { paid: N, outbound: N, organic: N }\\n- cpl_by_channel: { channel_name: cpl_value }\\n- top_performing_channel: channel with best conversion_rate\\n- worst_performing_channel: channel with worst cpl\\n\\nFLAGS: include all applicable from: 'missing_utm', 'pixel_not_firing', 'duplicate_events', 'crm_mismatch', 'attribution_conflict'\\n\\nSELF-CHECK:\\n- Every lead has a source? If not \u2192 mark missing_utm\\n- Metrics mathematically consistent? If not \u2192 recompute\\n- Events correctly mapped? If not \u2192 flag\\n\\nOUTPUT FORMAT (STRICT JSON ONLY):\\n{\\n  \\\"attribution_report\\\": [\\n    {\\n      \\\"lead_id\\\": \\\"\\\",\\n      \\\"name\\\": \\\"\\\",\\n      \\\"company\\\": \\\"\\\",\\n      \\\"final_decision\\\": \\\"\\\",\\n      \\\"utm\\\": {\\n        \\\"utm_source\\\": \\\"\\\",\\n        \\\"utm_medium\\\": \\\"\\\",\\n        \\\"utm_campaign\\\": \\\"\\\",\\n        \\\"utm_content\\\": \\\"\\\",\\n        \\\"utm_term\\\": \\\"\\\"\\n      },\\n      \\\"first_touch\\\": { \\\"source\\\": \\\"\\\", \\\"campaign\\\": \\\"\\\" },\\n      \\\"last_touch\\\": { \\\"source\\\": \\\"\\\", \\\"campaign\\\": \\\"\\\" },\\n      \\\"touchpoints\\\": [],\\n      \\\"conversion_event\\\": \\\"\\\",\\n      \\\"attribution_confidence\\\": \\\"HIGH | MEDIUM | LOW\\\",\\n      \\\"flags\\\": []\\n    }\\n  ],\\n  \\\"channel_performance\\\": [\\n    {\\n      \\\"channel\\\": \\\"\\\",\\n      \\\"spend\\\": 0,\\n      \\\"clicks\\\": 0,\\n      \\\"leads\\\": 0,\\n      \\\"bookings\\\": 0,\\n      \\\"sales\\\": 0,\\n      \\\"cpl\\\": 0,\\n      \\\"conversion_rate\\\": 0,\\n      \\\"cost_per_booking\\\": 0,\\n      \\\"cost_per_sale\\\": 0\\n    }\\n  ],\\n  \\\"funnel\\\": {\\n    \\\"total_visitors\\\": 0,\\n    \\\"total_leads\\\": 0,\\n    \\\"total_bookings\\\": 0,\\n    \\\"total_sales\\\": 0,\\n    \\\"visitor_to_lead_rate\\\": 0,\\n    \\\"lead_to_booking_rate\\\": 0,\\n    \\\"booking_to_sale_rate\\\": 0,\\n    \\\"overall_conversion\\\": 0\\n  },\\n  \\\"tracking_validation\\\": {\\n    \\\"status\\\": \\\"TRACKING_HEALTHY | TRACKING_DEGRADED | TRACKING_BROKEN\\\",\\n    \\\"issues\\\": [],\\n    \\\"flags\\\": []\\n  },\\n  \\\"dashboard\\\": {\\n    \\\"leads_by_source\\\": { \\\"paid\\\": 0, \\\"outbound\\\": 0, \\\"organic\\\": 0 },\\n    \\\"cpl_by_channel\\\": {},\\n    \\\"top_performing_channel\\\": \\\"\\\",\\n    \\\"worst_performing_channel\\\": \\\"\\\",\\n    \\\"total_spend\\\": 0,\\n    \\\"total_revenue_potential\\\": \\\"\\\"\\n  }\\n}\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a full tracking and attribution report for the LeadOS pipeline. Use all data provided below.\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-attribution-node",
      "name": "Attribution Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "attribution_data",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from attribution engine' };\n  try {\n    return JSON.parse(content);\n  } catch (e) {\n    return { error: 'Invalid JSON from attribution engine', raw: content.substring(0, 200) };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const report = $json.attribution_data.attribution_report || []; const inputs = report.map(l => ({ id: l.email || l.lead_id, idProperty: 'email', properties: { utm_campaign: l.utm?.utm_campaign || '', hs_analytics_source: l.utm?.utm_source || '', hs_analytics_source_data_1: l.utm?.utm_medium || '', hs_analytics_source_data_2: l.utm?.utm_campaign || '' } })); return { inputs: inputs }; })() }}",
        "options": {}
      },
      "id": "hubspot-utm-update",
      "name": "HubSpot Sync Attribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HUBSPOT_KEY",
          "name": "HubSpot API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Extract JSON').first().json.attribution_data }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Attribution Engine (Groq)", "type": "main", "index": 0 }]] },
    "Attribution Engine (Groq)": { "main": [[{ "node": "Extract JSON", "type": "main", "index": 0 }]] },
    "Extract JSON": { "main": [[{ "node": "HubSpot Sync Attribution", "type": "main", "index": 0 }]] },
    "HubSpot Sync Attribution": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
