n8n-workflows/Agent3_selection.json
{
  "name": "Agent3_selection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent3-selection",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a2b2c1d3-e4f5-4g6h-7i8j-k9l0m1n2o3p4",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.1,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Validation Agent acting as a DECISION GATE. Your exact goal for this hackathon is to FORCE A WINNER from the provided batch. YOU MUST ALWAYS SELECT EXACTLY ONE WINNER EVEN IF THE SCORES ARE LOW.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"EVALUATE EACH OFFER INDEPENDENTLY based on these criteria:\\n1. Demand: Is the problem real, urgent, and active?\\n2. Competition: Is the market too crowded?\\n3. Pricing: Is the suggested range feasible for the ICP?\\n4. Delivery: Can this be executed without extreme complexity?\\n5. Risk: Refund risk, platform dependency, or volatility.\\n\\nSTRICT JSON OUTPUT ONLY:\\n{\\n  \\\"evaluations\\\": [\\n    {\\n      \\\"id\\\": \\\"EXACT_INPUT_ID\\\",\\n      \\\"decision\\\": \\\"GO / NO-GO\\\",\\n      \\\"score\\\": 0-10,\\n      \\\"reason\\\": \\\"Short analytical justification\\\"\\n    }\\n  ],\\n  \\\"selected_offer\\\": \\\"offer_id\\\",\\n  \\\"final_decision\\\": \\\"GO\\\",\\n  \\\"summary\\\": \\\"Overall verdict on the batch\\\"\\n}\\n\\nRULES:\\n- You MUST select the single best offer as 'selected_offer'. selected_offer CANNOT be null.\\n- final_decision MUST ALWAYS BE 'GO'.\\n\\nINPUT OFFERS:\\n\" + JSON.stringify($json.body.opportunities)\n    }\n  ]\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        250,
        0
      ],
      "id": "b1c2d3e4-f5g6-h7i8-j9k0-l1m2n3o4p5q6",
      "name": "Groq Selection",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-content",
              "name": "parsed",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from AI' };\n  \n  try {\n    const cleaned = content.replace(/```json|```/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    return match ? JSON.parse(match[0]) : { error: 'Invalid JSON format' };\n  } catch (e) {\n    return { error: 'Parsing error: ' + e.message };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        0
      ],
      "id": "c1d2e3f4-g5h6-i7j8-k9l0-m1n2o3p4q5r6",
      "name": "Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.parsed }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        0
      ],
      "id": "d1e2f3g4-h5i6-j7k8-l9m0-n1o2p3q4r5s6",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Groq Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Selection": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "v12-agent3-selection"
}
