n8n-workflows/Agent6_paid_traffic.json
{
  "name": "Agent 6 – Paid Traffic Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent6-paid-traffic",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-construction",
              "name": "prompt_input",
              "value": "={{ \"ICP: \" + JSON.stringify($json.body.ICP) + \"\\nOffer: \" + JSON.stringify($json.body.offer) + \"\\nFunnel Strategy: \" + JSON.stringify($json.body.funnel) + \"\\nMessaging Content: \" + JSON.stringify($json.body.narrative) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.6,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 6 – Paid Traffic Agent in the LeadOS system.\\n\\nYour role is to simulate a paid acquisition strategy using structured logic, not generic marketing ideas.\\n\\nCORE RULES\\n1. Output must be STRICT JSON (no text outside JSON)\\n2. Use realistic marketing metrics (CPC, CTR, conversion rate)\\n3. Compute CPL and expected leads (do not guess randomly)\\n4. Select channels based on ICP and funnel type\\n5. Do NOT suggest all platforms — be selective and justified\\n6. Align creatives with the funnel hook and ICP pain\\n\\nDECISION LOGIC\\n* B2B → prioritize LinkedIn + Google Search\\n* B2C → prioritize Meta Ads + TikTok\\n* High intent offer → Google Search\\n* Awareness stage → Meta Ads\\n\\nBudget allocation:\\n* High intent channels get higher allocation\\n* Experimental channels get lower allocation\\n\\nOUTPUT FORMAT\\nReturn ONLY valid JSON:\\n{\\n  \\\"channels\\\": [\\n    {\\n      \\\"channel\\\": \\\"\\\",\\n      \\\"objective\\\": \\\"\\\",\\n      \\\"targeting\\\": {\\n        \\\"persona\\\": \\\"\\\",\\n        \\\"interests\\\": [],\\n        \\\"geo\\\": \\\"\\\",\\n        \\\"age_range\\\": \\\"\\\"\\n      },\\n      \\\"creatives\\\": [\\n        {\\n          \\\"type\\\": \\\"\\\",\\n          \\\"hook\\\": \\\"\\\",\\n          \\\"angle\\\": \\\"\\\"\\n        }\\n      ],\\n      \\\"budget\\\": {\\n        \\\"daily_budget\\\": 0,\\n        \\\"allocation_percent\\\": 0\\n      },\\n      \\\"performance_estimate\\\": {\\n        \\\"cpc\\\": 0,\\n        \\\"ctr\\\": 0,\\n        \\\"conversion_rate\\\": 0,\\n        \\\"cpl\\\": 0,\\n        \\\"expected_leads_per_day\\\": 0\\n      }\\n    }\\n  ],\\n  \\\"total_budget\\\": 0,\\n  \\\"blended_cpl\\\": 0,\\n  \\\"reasoning\\\": \\\"\\\"\\n}\\n\\nFINAL CHECK\\nBefore output:\\n* Is this realistic?\\n* Are numbers consistent?\\n* Is CPL logically derived?\\n* Are channels justified?\\nIf not, fix internally before returning output.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a paid traffic plan for the following input:\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-traffic-node",
      "name": "Paid Traffic Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "traffic_plan",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from AI' };\n  \n  try {\n    return JSON.parse(content);\n  } catch (e) {\n    return { error: 'Invalid JSON format from AI' };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.traffic_plan }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Paid Traffic Engine (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paid Traffic Engine (Groq)": {
      "main": [
        [
          {
            "node": "Extract JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
