n8n-workflows/Agent10_sales_routing.json
{
  "name": "Agent 10 \u2013 Sales Routing Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent10-sales-routing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-input",
              "name": "prompt_input",
              "value": "={{ \"Qualified Leads (from Agent 9): \" + JSON.stringify($json.body.qualified_leads) + \"\\n\\nOffer Context: \" + JSON.stringify($json.body.offer_context) + \"\\n\\nBehavioural Signals: \" + JSON.stringify($json.body.behavioural_signals || {}) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Agent 10 \u2013 Sales Routing Engine in the LeadOS pipeline. You are a DETERMINISTIC decision engine. You do NOT generate ideas or create content. You ONLY evaluate signals and make precise routing decisions.\\n\\nCORE FUNCTION:\\nFor each qualified lead received from Agent 9, compute:\\n\\n1. behaviour_score (derive from signals IF provided, else estimate from lead attributes):\\n   - pricing_page_visit = +20\\n   - multiple_visits = +10\\n   - email_opens > 2 = +10\\n   - booking_attempt = +20\\n   - If no explicit signals: use intent_level (hot=50, warm=30, cold=10) as base\\n\\n2. transcript_intent_score (derive from BANT responses and final_status):\\n   - HOT lead with positive BANT = 85\\n   - WARM lead = 60\\n   - MEDIUM lead = 40\\n   - COLD lead = 20\\n   - strong buying language in responses = +10\\n   - uncertain/vague = -10\\n\\n3. intent_score = (qualification_score \u00d7 0.5) + (behaviour_score \u00d7 0.3) + (transcript_intent \u00d7 0.2)\\n   where qualification_score = bant_score.total from Agent 9\\n\\nROUTING RULES (STRICT - apply in order):\\n\\nCHECKOUT conditions (ALL must be true):\\n- bant_score.total >= 80\\n- bant_score.budget >= 20 (budget confirmed)\\n- timeline classification = positive\\n- intent_score >= 75\\n\\nSALES_CALL conditions (ANY):\\n- bant_score.total 60-79\\n- OR intent_score >= 60 but bant_score.total < 80\\n- OR authority classification = negative (downgrade from HOT)\\n\\nNURTURE conditions (ANY):\\n- bant_score.total 40-59\\n- OR weak intent_score 30-59\\n\\nDISQUALIFIED conditions (ANY):\\n- bant_score.total < 40\\n- OR budget classification = negative AND need classification = negative\\n- OR final_status = COLD\\n\\nEDGE CASE OVERRIDES:\\n- Budget classification=negative \u2192 CANNOT be CHECKOUT, downgrade to SALES_CALL\\n- Authority classification=negative \u2192 downgrade ONE level\\n- Behaviour strong (behaviour_score >= 40) but bant score low \u2192 flag 'high_intent_low_score', route SALES_CALL\\n- If routing contradicts final_status \u2192 trust BANT score, add flag 'contradictory_signals'\\n\\nCRM STAGE MAPPING:\\n- CHECKOUT \u2192 'High Intent Buyer'\\n- SALES_CALL \u2192 'Sales Qualified Lead'  \\n- NURTURE \u2192 'Marketing Qualified Lead'\\n- DISQUALIFIED \u2192 'Disqualified'\\n\\nFLAGS (include ALL applicable):\\n- 'missing_budget' if budget classification != positive\\n- 'low_authority' if authority classification != positive\\n- 'high_intent_low_score' if behaviour_score >= 40 and bant_score.total < 60\\n- 'contradictory_signals' if final_status contradicts routing\\n- 'needs_manual_review' if any override was applied\\n\\nSELF-CHECK before output:\\n- Is the decision explainable by the rules above? If NO \u2192 recompute.\\n- Same input \u2192 same output always. No randomness.\\n\\nOUTPUT FORMAT (STRICT JSON):\\n{\\n  \\\"routed_leads\\\": [\\n    {\\n      \\\"lead_id\\\": \\\"\\\",\\n      \\\"name\\\": \\\"\\\",\\n      \\\"company\\\": \\\"\\\",\\n      \\\"qualification_score\\\": 0,\\n      \\\"behaviour_score\\\": 0,\\n      \\\"transcript_intent\\\": 0,\\n      \\\"intent_score\\\": 0,\\n      \\\"final_decision\\\": \\\"CHECKOUT | SALES_CALL | NURTURE | DISQUALIFIED\\\",\\n      \\\"crm_stage\\\": \\\"\\\",\\n      \\\"reasoning\\\": {\\n        \\\"budget\\\": \\\"\\\",\\n        \\\"authority\\\": \\\"\\\",\\n        \\\"need\\\": \\\"\\\",\\n        \\\"timeline\\\": \\\"\\\",\\n        \\\"behaviour_signals\\\": \\\"\\\",\\n        \\\"transcript_summary\\\": \\\"\\\"\\n      },\\n      \\\"flags\\\": []\\n    }\\n  ],\\n  \\\"pipeline_summary\\\": {\\n    \\\"total\\\": 0,\\n    \\\"checkout\\\": 0,\\n    \\\"sales_call\\\": 0,\\n    \\\"nurture\\\": 0,\\n    \\\"disqualified\\\": 0,\\n    \\\"total_intent_score_avg\\\": 0,\\n    \\\"flags_triggered\\\": []\\n  }\\n}\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Route all leads from the qualification data below. Process every lead. Apply all rules deterministically.\\n\\n\" + $json.prompt_input\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "groq-routing-node",
      "name": "Sales Routing Engine (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UXgmT5ea2qmzvhCy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-json",
              "name": "routing_data",
              "value": "={{ \n(() => {\n  const content = $json.choices?.[0]?.message?.content;\n  if (!content) return { error: 'No response from routing engine' };\n  try {\n    const data = JSON.parse(content);\n    const url = 'https://calendly.com/leados2-hackathon-neobim/30min';\n    if (data.routed_leads) {\n      data.routed_leads = data.routed_leads.map(lead => {\n        lead.calendly_link = (lead.final_decision === 'SALES_CALL' || lead.final_decision === 'CHECKOUT') ? url : null;\n        return lead;\n      });\n    }\n    return data;\n  } catch (e) {\n    return { error: 'Invalid JSON from routing engine', raw: content.substring(0, 200) };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-json-node",
      "name": "Extract JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.calendly.com/users/me",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __CALENDLY_TOKEN__"
            }
          ]
        },
        "options": {}
      },
      "id": "calendly-user",
      "name": "Get Calendly User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.calendly.com/event_types?user=' + ($json.resource?.uri || '') + '&active=true&count=1' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __CALENDLY_TOKEN__"
            }
          ]
        },
        "options": {}
      },
      "id": "calendly-events",
      "name": "Fetch Calendly Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "enrich-calendly",
              "name": "routing_data",
              "value": "={{ (() => { const data = $('Extract JSON').first().json.routing_data || {}; const url = 'https://calendly.com/leados2-hackathon-neobim/30min'; if (data.routed_leads) { data.routed_leads = data.routed_leads.map(lead => { lead.calendly_link = (lead.final_decision === 'SALES_CALL' || lead.final_decision === 'CHECKOUT') ? url : null; return lead; }); } return data; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "calendly-enrich",
      "name": "Enrich with Calendly Links",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/REPLACE_WITH_YOUR_WEBHOOK",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const raw = $json.routing_data; const d = (typeof raw === 'string' ? JSON.parse(raw) : raw) || {}; const p = d.pipeline_summary || {}; const leads = d.routed_leads || []; const checkoutLeads = leads.filter(l => l.final_decision === 'CHECKOUT').map(l => '• *' + l.name + '* (' + l.company + ') — Intent: ' + l.intent_score + ' 🔗 <' + (l.calendly_link || '#') + '|Book Call>').join('\\n') || 'None'; return { text: '🔀 Sales Routing Complete — ' + (p.checkout || 0) + ' ready for checkout', blocks: [ { type: 'header', text: { type: 'plain_text', text: '🔀 LeadOS: Sales Routing Complete' } }, { type: 'section', text: { type: 'mrkdwn', text: '✅ *CHECKOUT:* ' + (p.checkout || 0) + ' | 📞 *SALES_CALL:* ' + (p.sales_call || 0) + ' | 📧 *NURTURE:* ' + (p.nurture || 0) + ' | ❌ *DISQUALIFIED:* ' + (p.disqualified || 0) } }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: '*✅ CHECKOUT Leads (High Intent Buyers):*\\n' + checkoutLeads } }, { type: 'context', elements: [{ type: 'mrkdwn', text: '⚡ LeadOS Agent 10 — Sales Routing Engine | Avg Intent: ' + Math.round(p.total_intent_score_avg || 0) }] } ] }; })() }}",
        "options": {}
      },
      "id": "slack-routing-alert",
      "name": "Slack Routing Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1600, 150],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const raw = $('Enrich with Calendly Links').first().json.routing_data; const d = (typeof raw === 'string' ? JSON.parse(raw) : raw) || {}; const leads = d.routed_leads || []; const checkout = leads.filter(l => l.final_decision === 'CHECKOUT'); if (checkout.length === 0) return { personalizations: [{ to: [{ email: 'demo@leados-test.com' }], subject: 'No checkout leads' }], from: { email: 'sales@leados-demo.com', name: 'LeadOS' }, content: [{ type: 'text/plain', value: 'No checkout leads this run.' }] }; const lead = checkout[0]; return { personalizations: [{ to: [{ email: lead.email || 'demo@leados-test.com', name: lead.name || 'Prospect' }], subject: lead.name + ', your demo is ready to book' }], from: { email: 'sales@leados-demo.com', name: 'LeadOS Sales' }, content: [{ type: 'text/html', value: '<h2>Hi ' + (lead.name || 'there') + ',</h2><p>Based on your qualification profile, you\\'re a great fit for our solution.</p><p>Your intent score: <strong>' + (lead.intent_score || 0) + '/100</strong></p><p style=\"margin:20px 0\"><a href=\"' + (lead.calendly_link || 'https://calendly.com/leados2-hackathon-neobim/30min') + '\" style=\"background:#0A66C2;color:white;padding:14px 28px;border-radius:8px;text-decoration:none;font-weight:bold;font-size:16px\">📅 Book Your Demo Now</a></p><p style=\"color:#999;font-size:11px\">Sent via LeadOS Autonomous Pipeline</p>' }], categories: ['leados-routing', 'checkout-invite'] }; })() }}",
        "options": {}
      },
      "id": "sendgrid-booking-invite",
      "name": "SendGrid Booking Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, -150],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SENDGRID_CREDENTIAL_ID",
          "name": "SendGrid API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const leads = $json.routing_data.routed_leads || []; const stageMap = { 'CHECKOUT': 'opportunity', 'SALES_CALL': 'salesqualifiedlead', 'NURTURE': 'marketingqualifiedlead', 'DISQUALIFIED': 'other' }; const statusMap = { 'CHECKOUT': 'OPEN_DEAL', 'SALES_CALL': 'IN_PROGRESS', 'NURTURE': 'OPEN', 'DISQUALIFIED': 'UNQUALIFIED' }; const inputs = leads.map(l => ({ id: l.email || l.lead_id, idProperty: 'email', properties: { lifecyclestage: stageMap[l.final_decision] || 'lead', hs_lead_status: statusMap[l.final_decision] || 'NEW' } })); return { inputs: inputs }; })() }}",
        "options": {}
      },
      "id": "hubspot-update-contacts",
      "name": "HubSpot Update Stages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1750, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SasebC8AoVJed4oj",
          "name": "Header Auth hubspot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-routing",
              "name": "routing_data",
              "value": "={{ (() => { const data = $('Enrich with Calendly Links').first().json.routing_data; data.crm_sync_status = ($json.results) ? 'success' : 'failed'; return data; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-crm",
      "name": "Merge CRM Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.routing_data }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2250, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Sales Routing Engine (Groq)", "type": "main", "index": 0 }]] },
    "Sales Routing Engine (Groq)": { "main": [[{ "node": "Extract JSON", "type": "main", "index": 0 }]] },
    "Extract JSON": { "main": [[{ "node": "Get Calendly User", "type": "main", "index": 0 }]] },
    "Get Calendly User": { "main": [[{ "node": "Fetch Calendly Events", "type": "main", "index": 0 }]] },
    "Fetch Calendly Events": { "main": [[{ "node": "Enrich with Calendly Links", "type": "main", "index": 0 }]] },
    "Enrich with Calendly Links": { "main": [[{ "node": "Slack Routing Alert", "type": "main", "index": 0 }]] },
    "Slack Routing Alert": { "main": [[{ "node": "SendGrid Booking Invite", "type": "main", "index": 0 }]] },
    "SendGrid Booking Invite": { "main": [[{ "node": "HubSpot Update Stages", "type": "main", "index": 0 }]] },
    "HubSpot Update Stages": { "main": [[{ "node": "Merge CRM Status", "type": "main", "index": 0 }]] },
    "Merge CRM Status": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
