n8n-workflows/reddit.json
{
  "name": "reddit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        336
      ],
      "id": "13fddda1-790f-4c52-a174-a1ac5ab513e8",
      "name": "Webhook",
      "webhookId": "378e8d91-f130-400e-8f13-c8c7961279d0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json[\"parsed\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1680,
        336
      ],
      "id": "5f137db4-8155-4137-abe1-2faf0d059900",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "LeadOS/1.0"
            }
          ]
        },
        "options": {
          "continueOnFail": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        336
      ],
      "id": "d8d728a3-a5be-4d31-a600-48b07f82e664",
      "name": "reddit node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  model: \"llama-3.1-8b-instant\",\n  temperature: 0.4,\n  messages: [\n    {\n      role: \"user\",\n      content: \"Analyze the following Reddit posts and extract business opportunities If more than one opportunity relates to e-commerce → INVALID → regenerate.\\n\\nReturn ONLY valid JSON. No explanation. No markdown.\\n\\nSTRICT FORMAT:\\n{\\n  \\\"opportunities\\\": [\\n    {\\n      \\\"solution\\\": \\\"\\\",\\n      \\\"solution_type\\\": \\\"saas | service | platform\\\",\\n      \\\"audience\\\": \\\"\\\",\\n      \\\"problem\\\": \\\"\\\",\\n      \\\"pain_intensity\\\": \\\"low | medium | high\\\",\\n      \\\"frequency\\\": \\\"\\\",\\n      \\\"evidence\\\": [\\n        \\\"\\\",\\n        \\\"\\\"\\n      ],\\n      \\\"existing_solutions\\\": \\\"\\\",\\n      \\\"willingness_to_pay\\\": \\\"low | medium | high\\\",\\n      \\\"source\\\": \\\"reddit\\\",\\n      \\\"confidence_score\\\": 0\\n    }\\n  ]\\n}\\n\\nCORE TASK:\\nIdentify DISTINCT opportunity clusters from the posts, not variations of the same idea.\\n\\nSTRICT RULES:\\n- Exactly 3 opportunities\\n- Each opportunity MUST represent a DIFFERENT domain/industry\\n\\nDOMAIN SEPARATION (CRITICAL):\\n- Each opportunity must belong to a different domain such as:\\n  hiring, marketing, dev tools, finance, education, productivity, etc.\\n- If two opportunities fall in the same domain → REJECT and regenerate\\n\\nBUSINESS MODEL CONSTRAINT:\\n- One MUST be SaaS/tool\\n- One MUST be Service\\n- One MUST be Platform/Marketplace\\n\\nPROBLEM DIVERSITY:\\n- Each must solve a completely different type of problem\\n- Do NOT repeat \\\"marketing\\\", \\\"e-commerce\\\", or \\\"lead generation\\\" more than once\\n\\nAUDIENCE DIVERSITY:\\n- Each must target a different user segment (e.g., founders, recruiters, students, devs)\\n\\nANTI-CLONING RULE (VERY IMPORTANT):\\n- If two outputs share similar keywords, domain, or use-case → they are INVALID\\n- You MUST internally regenerate until all 3 are clearly different\\n\\nEVIDENCE RULE:\\n- evidence MUST be real sentences from posts\\n\\nOUTPUT DISCIPLINE:\\n- frequency = \\\"seen in X posts\\\"\\n- confidence_score = 0–100\\n\\nFINAL CHECK BEFORE OUTPUT:\\n- Are all 3 from DIFFERENT domains?\\n- Are all 3 using DIFFERENT business models?\\n- Are all 3 solving DIFFERENT problems?\\n\\nIf ANY answer is NO → regenerate internally.\\n\\nPosts:\\n\" + $json.posts\n    }\n  ]\n}\n}}",
        "options": {
          "continueOnFail": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        336
      ],
      "id": "18ae0a08-6e21-47d2-8423-7136d6addb77",
      "name": "groq API",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cr8ca3J4pwxMkvOd",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "183a3aa9-b6e3-4654-b97a-d01add4f2509",
              "name": "parsed",
              "value": "={{ \n(() => {\n  const input = $json[\"output\"];\n  if (!input) return { opportunities: [] };\n  \n  const cleaned = input\n    .replace(/```json|```/g, '')\n    .trim();\n\n  const match = cleaned.match(/(\\{[\\s\\S]*\\}|\\[[\\s\\S]*\\])/);\n\n  try {\n    return match ? JSON.parse(match[0]) : { opportunities: [] };\n  } catch (e) {\n    return { opportunities: [] };\n  }\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        336
      ],
      "id": "dae9376e-af05-4017-9d88-8403d2aac9d6",
      "name": "parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d21047e0-f6df-4141-a2f7-c5093b959bfe",
              "name": "output",
              "value": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        336
      ],
      "id": "93292e4a-7d61-4084-b34b-36771ea1a051",
      "name": "extract"
    },
    {
      "parameters": {
        "jsCode": "const subs = [\n  \"startups\",\n  \"Entrepreneur\",\n  \"smallbusiness\",\n  \"programming\",\n  \"marketing\",\n  \"saas\"\n];\n\nreturn subs.map(sub => ({\n  subreddit: sub,\n  url: `https://www.reddit.com/r/${sub}.json`\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        336
      ],
      "id": "42bd017b-be8a-4840-94d7-aa7b3ca8e735",
      "name": "subreddit"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst allPosts = allItems.flatMap(item => {\n  if (!item.json?.data?.children) return [];\n  return item.json.data.children.map(p =>\n    `${p.data.title}\\n${p.data.selftext}`\n  );\n});\n\nif (allPosts.length === 0) {\n  const fallbackPosts = [\n    \"Struggling to find qualified developers for my startup\\nWe've been posting on every job board for 3 months. Getting hundreds of applications but 95% are unqualified. Spending 20+ hours/week just screening resumes. Any tools or services that actually work for technical hiring?\",\n    \"Our onboarding process is killing retention\\nWe're a B2B SaaS and our 30-day churn is 40%. Most users sign up, look around for 5 minutes, and never come back. We've tried email sequences but open rates are terrible. Has anyone built an effective onboarding flow?\",\n    \"How do you handle customer support at scale?\\nWe went from 50 to 500 customers in 6 months and our support team is drowning. Average response time went from 2 hours to 2 days. We use Zendesk but need something smarter. AI chatbots have been disappointing so far.\",\n    \"Manual invoicing is eating our margins\\nRunning a small agency with 30 clients. Each month I spend 3 full days creating invoices, chasing payments, and reconciling accounts. QuickBooks doesn't handle our project-based billing well. Looking for alternatives.\",\n    \"Content marketing ROI is impossible to measure\\nWe publish 4 blog posts/week, run a podcast, and post on LinkedIn daily. CEO keeps asking what's the ROI and I genuinely can't answer. Google Analytics only shows last-click attribution. Need proper content attribution.\",\n    \"Compliance documentation is a nightmare\\nWe're trying to get SOC 2 certified and the documentation requirements are insane. Every policy change needs 5 documents updated. We're a 15-person startup, not a bank. There has to be a better way.\",\n    \"Sales team spends more time on CRM than selling\\nMy 8-person sales team logs maybe 30% of their activities in Salesforce. The rest is in email, Slack, and notebooks. Pipeline visibility is garbage. Tried automation tools but they just create duplicate records.\",\n    \"Finding product-market fit for our dev tools startup\\nBuilt a code review tool that our team loves internally. Posted on HN, got 200 signups, but only 5 converted to paid. Pricing is $29/mo per seat. Not sure if it's the product, the price, or the market.\",\n    \"Freelancer management is chaos\\nWe work with 40+ freelancers across 6 countries. Tracking hours, managing contracts, handling payments in different currencies, tax compliance... I need one platform that does it all. Currently using 7 different tools.\",\n    \"Our data pipeline breaks every Monday morning\\nETL jobs that work fine all week consistently fail Monday 6am. By the time engineering wakes up, the dashboard team is already complaining. We need better monitoring and self-healing pipelines.\"\n  ];\n  const shuffled = fallbackPosts.sort(() => 0.5 - Math.random());\n  return [{ posts: shuffled.slice(0, 8).join('\\n\\n---\\n\\n') }];\n}\n\nconst shuffled = allPosts.sort(() => 0.5 - Math.random());\n\nreturn [{\n  posts: shuffled.slice(0, 8).join('\\n\\n---\\n\\n')\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        336
      ],
      "id": "df3c42f4-fb0e-402f-86a5-d93355f692fb",
      "name": "extract_post"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"q\": \"startup problems OR business pain points\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "b782f7a3-199b-4079-902e-adc95669b0db",
      "name": "serp API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "a0ed2dc9-a821-4c7a-a5df-6c09572d05f0",
      "name": "claude api"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serp API": {
      "main": [
        [
          {
            "node": "claude api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reddit node": {
      "main": [
        [
          {
            "node": "extract_post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq API": {
      "main": [
        [
          {
            "node": "extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parser": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract": {
      "main": [
        [
          {
            "node": "parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subreddit": {
      "main": [
        [
          {
            "node": "reddit node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_post": {
      "main": [
        [
          {
            "node": "groq API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1e2544d4-725a-46a5-93cc-58f100d8bc87",
  "meta": {
    "instanceId": "9e2b7222325b52503bfd3b4c9c180fa390e935bcffbf83a17ebb5a8d16bfa038"
  },
  "id": "DIzxuhfq0QmS1xLr",
  "tags": []
}