n8n-workflows/reddit-agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "378e8d91-f130-400e-8f13-c8c7961279d0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -32
      ],
      "id": "e09202d5-094d-4e58-a461-a0041493b1d7",
      "name": "Webhook",
      "webhookId": "378e8d91-f130-400e-8f13-c8c7961279d0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d21047e0-f6df-4141-a2f7-c5093b959bfe",
              "name": "output",
              "value": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -32
      ],
      "id": "cf2226b0-77d5-46b7-aa9e-5ab8e2a833dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json[\"parsed\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -32
      ],
      "id": "232b15d6-e39d-4140-b28f-471ab823eb06",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are given Reddit post titles:\\n\\n{{ $node[\\\"Reddit Fetch\\\"].json.data.children.map(item => item.data.title).join(\\\"\\\\n\\\") }}\\n\\nFind 3 business opportunities.\\n\\nReturn ONLY valid JSON:\\n{\\n  \\\"opportunities\\\": [\\n    {\\\"service\\\": \\\"\\\", \\\"audience\\\": \\\"\\\", \\\"problem\\\": \\\"\\\"}\\n  ]\\n}\\n\\nNO explanation. NO extra text.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -32
      ],
      "id": "908e11c3-0689-49dc-9331-7ba054978db8",
      "name": "HTTP Request(groq AI)"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/startups.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -32
      ],
      "id": "0b702c79-0431-45b5-84d7-f1dc4ca030a9",
      "name": "Reddit Fetch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "183a3aa9-b6e3-4654-b97a-d01add4f2509",
              "name": "parsed",
              "value": "={{ JSON.parse($json[\"output\"].replace(/```json|```/g, '').trim()) }}",
              "type": "string"
            },
            {
              "id": "62107307-3279-412e-86c3-99c2038edadb",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -32
      ],
      "id": "694b0b66-1603-4147-8fb9-be0f0031a353",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Reddit Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request(groq AI)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Fetch": {
      "main": [
        [
          {
            "node": "HTTP Request(groq AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "483323cd-0a15-405c-95d7-7e25992069e5",
  "meta": {
    "instanceId": "9e2b7222325b52503bfd3b4c9c180fa390e935bcffbf83a17ebb5a8d16bfa038"
  },
  "id": "s92w3u8zHNTAz6O8",
  "tags": []
}